html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container-fluid {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .10);
}

/*highlight*/
.card.highlighted {
    border: 2px solid #007bff; /* Change the border color to your desired highlight color */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Add a shadow for emphasis */
  }